Brotli==1.1.0
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
ffmpeg==1.4
fire==0.6.0
google-api-core==2.19.0
google-api-python-client==2.133.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.63.1
httplib2==0.22.0
idna==3.7
mutagen==1.47.0
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycryptodomex==3.20.0
pyparsing==3.1.2
requests==2.32.3
rsa==4.9
six==1.16.0
term-printer==1.1
termcolor==2.4.0
tqdm==4.66.4
uritemplate==4.1.1
urllib3==2.2.1
websockets==12.0
yt-dlp==2024.5.27
